body {
  margin: 0 5%;
  font: 12pt verdana,arial,helvetica,sans-serif;
}
h1 {
  font-size: 16pt;
}
h2 {
  font-size: 14pt;
}
h3, h4, h5, h6 {
  font-size: 13pt;
}
a {
  text-decoration: underline;
}
a:link, a:visited, #mission a, #mission a:visited {
  color: #520;
}
#header, #content {
  width: auto;
  background-color: transparent;
}
#logo img, #menu, #primary, #secondary, #search, #sidebar-left, #sidebar-right, .breadcrumb, .node .avatar, .comment .avatar, .links, .submitted, .taxonomy {
  display: none;
}
#mission {
  background-color: #FFF;
  color: #000;
}
#main {
  padding: 0;
}
.message, #footer {
  background-color: transparent;
  font-size: 10pt;
}
.title, .title a {
  font-size: 14pt;
  color: #000;
}
.title a {
  color: #520;
}
.static {
  background-color: transparent;
}
.node, .comment .title, .box .title {
  font-size: 10pt;
  color: #000;
}
